[submodule "spring-security-demos"]
	path = spring-security-demos
	url = git@github.com:abhilashRupa/spring-security-demos.git
[submodule "spring-security-exercise"]
	path = spring-security-exercise
	url = git@github.com:abhilashRupa/spring-security-exercise.git
